<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mondo.earphone">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name = "android.permission.VIBRATE"/>

    <application
        android:name=".appInfo"
        android:allowBackup="true"
        android:icon="@mipmap/earphone5"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/earphone5"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".tmap.TmapSearch"></activity>

        <!-- 전송작업을 background로 처리하기 위한 service -->
        <service android:name="com.amazonaws.mobileconnectors.s3.transferutility.TransferService" android:enabled="true" />

        <!-- foreground 서비스 등록 -->
        <service
            android:name=".ForegroundService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".tmap.TmapView" />
        <activity android:name=".MainActivity" />
        <activity android:name=".SplashActivity"
            android:theme="@style/SplashTheme"
            android:noHistory="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>